/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero__title{
  color: white;
}

[data-theme='dark'] .hero__title{
  color: #1F1438;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    ;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-radius: 8px;
  
}

.buttons:hover {
  transform: scale(1.05);
}

.container {
  margin-top: 10px;
}


.merchantDocs {
  display: flex;
  flex-direction: column;
}

.apiDocs {
  background-color: white;
}

.merchantDocs {
  background-color: white;
  color: #5223BC;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27%;
  height: 150px;
  margin-right: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid #5223BC;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.apiDocs{
  background-color: white;
  color: #5223BC;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27%;
  height: 150px;
  margin-right: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid #5223BC;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}
.apmDocs{
  background-color: white;
  color: #5223BC;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27%;
  height: 150px;
  margin-right: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid #5223BC;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}