openapi: 3.0.3
info:
  title: ''

servers:
  - url: https://api.paysecure.net

paths:
  /api/v1/customer:
    post:
      tags: [Customers]
      parameters:
        - in: header
          name: BrandId
          required: true
          schema: { type: string }
        - in: header
          name: Authorization
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchantCustomerId, fullName, emailId]
              properties:
                merchantCustomerId: { type: string, example: testuser@gmail.com }
                fullName: { type: string, example: Akshaya Singhal }
                emailId: { type: string, example: testuser@gmail.com }
                dateOfBirth: { type: string, format: date, example: 1995-11-27 }
                phoneNo: { type: string, example: "2222222222" }
                city: { type: string, example: Jaipur }
                stateCode: { type: string, example: RA }
                zipCode: { type: string, example: "202020" }
                address: { type: string, example: Mansarovar Jaipur }
                country: { type: string, example: IN }
                custRegDate: { type: string, format: date, example: 2024-11-27 }
                successTxn: { type: string, example: "32" }
      responses:
        '200': { description: Customer created successfully }
        '400': { description: Bad request }
