openapi: 3.0.3
info:
  title: ''

servers:
  - url: https://api.paysecure.net

paths:
  /api/v1/customer:
    post:
      tags: [Create Customers]
      summary: It creates a customer
      parameters:
        - in: header
          name: BrandId
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchantCustomerId, fullName, emailId]
              properties:
                merchantCustomerId:
                  type: string
                  example: testuser@gmail.com
                fullName:
                  type: string
                  example: Akshaya Singhal
                emailId:
                  type: string
                  example: testuser@gmail.com
                dateOfBirth:
                  type: string
                  format: date
                  example: 1995-11-27
                phoneNo:
                  type: string
                  example: "2222222222"
                city:
                  type: string
                  example: Jaipur
                stateCode:
                  type: string
                  example: RJ
                zipCode:
                  type: string
                  example: "202020"
                address:
                  type: string
                  example: Mansarovar Jaipur
                country:
                  type: string
                  example: IN
                custRegDate:
                  type: string
                  format: date
                  example: 2024-11-27
                successTxn:
                  type: string
                  example: "32"
      responses:
        '200':
          description: Customer created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId:
                    type: string
                    example: 67c54bff81fd9953719186ff
                  merchantCustomerId:
                    type: string
                    example: testuser@gmail.com
                  fullName:
                    type: string
                    example: Akshaya Singhal
                  emailId:
                    type: string
                    example: testuser@gmail.com
                  dateOfBirth:
                    type: string
                    format: date
                    example: 1995-11-27
                  phoneNo:
                    type: string
                    example: "2222222222"
                  brandID:
                    type: string
                    example: db8414b4-e527-4be6-b2bf-df5cb7a646c7
                  city:
                    type: string
                    example: jaipur
                  zipCode:
                    type: string
                    example: "202020"
                  address:
                    type: string
                    example: Mansarovar Jaipur
                  country:
                    type: string
                    example: IN
                  stateCode:
                    type: string
                    example: ra
                  custRegDate:
                    type: string
                    format: date
                    example: 2024-11-27
                  successTrans:
                    type: integer
                    example: 32
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid Email Format
                  code:
                    type: string
                    example: invalid_email
        '401':
          description: Customer already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Customer already exists with this information
                  code:
                    type: string
                    example: customer_already_exists